body, html {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    background-color: #000; /* Assuming a black background for the entire page */
    align-items: center;
    text-align: center;
}

header {
    background-color: #000000; /* Mørk rød bakgrunn */
    text-align: center; /* Sentrere teksten */
}

header h1 {
    font-family: 'Verdana', sans-serif; /* Verdana font med fallback til sans-serif */
    font-weight: normal; /* Normal fontvekt */
    font-size: 50px; /* 50px fontstørrelse */
    color: white; /* Hvit tekst */
}

nav a {
    color: aquamarine; /* Farge på lenken */
    font-size: 16px; /* Størrelsen på teksten i lenken */
    text-decoration: none; /* Ingen underlinje på lenken */
}

.phone-video {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto; /* Centers the container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content inside the flex container */
}

.phone-video .video-preview {
    max-width: 100%;
    height: auto;
    display: block; /* This makes it easier to center the video using margin */
    margin: 0 auto; /* Centers the video inside the .phone-video container */
}

.secondary-text h3 {
    font-weight: 300;
    font-size: 42px;
    color: white;
    margin-top: 40px;
}

.secondary-text p {
    font-size: 21px;
    color: gray;
    margin-bottom: 40px;
}

.camp-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}

footer {
    background-color: #000;
    color: gray;
    padding: 20px 0;
}

footer .coming-soon {
    font-size: 21px;
    margin-bottom: 10px;
}

footer .footer-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

footer .copy {
    font-size: 16px;
    color: gray;
    margin-top: 10px;
}

/* Add responsive design elements here */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
}